<app-head></app-head>

<table style=" width: 100%;height: 10%;">
  <tr>
    <td style="width: 15%; text-align: center;">  <a routerLink="/businessnews" style="color: #210404;"> businessnews</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/crimenews" style="color: #210404;"> crimenews</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/politics" style="color: #210404;">politics</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/technology" style="color: #210404;"> technology</a> </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/worldnews" style="color: #210404;"> worldnews </a> </td>
    
    
    </tr>
</table>

<hr/>


<router-outlet></router-outlet>